$yellow: #e0c04c;
$red: #ed655a;
$green: #72be47;
$font-color-red: #C10D0C;

$theme-color: #d33a31;
$font-color: #b1b1b1;
$font-color-grey2: #808080;
$font-color-grey: #5c5c5c;
$font-color-white: #dcdde4;
$black: #000;
$white: #fff;
$gold: #e7aa5a;
$blue: #517eaf;
$border: #3f3f3f;

$font-size: 14px;
$font-size-medium-sm: 13px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$font-size-xs: 10px;
$font-size-medium: 15px;
$font-size-title: 18px;
$font-size-title-lg: 24px;

$mini-player-z-index: 1002;
$mini-player-height: 60px;