@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?7kkyc2");
  src: url("../fonts/icomoon.eot?7kkyc2#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?7kkyc2") format("truetype"),
    url("../fonts/icomoon.woff?7kkyc2") format("woff"),
    url("../fonts/icomoon.svg?7kkyc2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
/* 头部 */
header {
  height: 84px;
  border-bottom: 2px solid #c81523;
}
.logo {
  padding-top: 15px;
}
/* 注册部分 */
.registerarea {
  height: 522px;
  border: 1px solid #cccccc;
  margin-top: 20px;
}
.registerarea h3 {
  height: 42px;
  border-bottom: 1px solid #cccccc;
  background-color: #ececec;
  line-height: 42px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 400;
}
.login {
  float: right;
  font-size: 14px;
}
.login a {
  color: #c81523;
}
.reg_form {
  width: 600px;
  margin: 50px auto;
}
.reg_form ul li {
  margin-bottom: 20px;
}
/* 目的是让里面的文字右对其 */
.reg_form ul li label {
  display: inline-block;
  width: 80px;
  text-align: right;
}
.reg_form ul li .inp {
  width: 242px;
  height: 37px;
  border: 1px solid #cccccc;
}
.error {
  color: #c81523;
}
.error_icon {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  background: url(../images/矩形8.png) no-repeat;
  margin-top: -3px;
}
.success {
  color: green;
}
.success_icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: green;
  border-radius: 10px;
  padding-left: 3px;
  padding-top: 1px;
  color: white;
  font-family: "icomoon";
}
.safe {
  padding-left: 170px;
}
.safe em {
  padding: 0 12px;
  color: #ffffff;
  margin: 0 3px;
}
.ruo {
  background-color: #de1111;
}
.zhong {
  background-color: #40b83f;
}
.qiang {
  background-color: #f79100;
}
.agree {
  padding-left: 79px;
}
.agree input {
  vertical-align: middle;
  margin-top: -3px;
}
.agree a {
  columns: #1ba1e6;
}
.btn {
  width: 200px;
  height: 34px;
  background-color: #c81523;
  font-size: 14px;
  color: #ffffff;
  margin: 20px 0 0 79px;
}
/* 底部 */
.mod_copyright {
  text-align: center;
  padding-top: 20px;
}
.links {
  margin-bottom: 15px;
}
.links a {
  margin: 0 11px;
}
.copyright {
  line-height: 20px;
}
