@import '../../assets/css/variables.scss';

.RecEveryDay {
  .logined {
    .hd {
      display: flex;

      .nowdata {
        border: 1px solid $border;
        padding: 5px 20px;
        text-align: center;
        line-height: 2;

        p {
          font-size: 12px;
          color: $font-color-grey2;
        }

        .date {
          font-size: 24px;
          color: $theme-color;
        }
      }

      .right {
        flex: 1;
        margin-left: 15px;
        font-size: $font-size-title;

        p {
          font-size: 12px;
          margin-top: 25px;
          color: $font-color-grey2;
        }
      }
    }

    .btns {
      margin: 10px 0;

      .MuiButton-contained {
        font-size: 12px;
      }

      .MuiButton-containedSecondary {
        background: linear-gradient(90deg, #fa5143, #f44d41, #d53b32);
        color: #fbdfdd;
        margin-right: 15px;
      }
    }
  }

  .nologin {
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
}