.login {

  .title {
    font-size: 21px;
    margin-bottom: 10px;
    text-align: center;
  }

  .img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 180px;
      height: 180px;
    }
  }

  .ant-form-item .ant-form-item-label>label {
    color: #b1b1b1;
    font-size: 12px;
  }

  .ant-input,
  .ant-input-affix-wrapper {
    font-size: 12px;
    border: none;
    background: #4b4b4b;
    color: #b1b1b1;
  }

  .ant-input-affix-wrapper .ant-input-suffix {
    color: #1677ff;
    cursor: pointer;
  }

  input::placeholder {
    color: #b1b1b1;
  }

  .ant-form-item {
    margin-bottom: 12px;

    .ant-form-item-explain-error {
      font-size: 12px;
      color: #d33a31;
    }
  }

  .ant-btn {
    font-size: 12px;
  }

  .ant-btn-primary {
    background: #d33a31;
    margin-bottom: 5px;
    border: none;
  }

  .footer {
    text-align: center;
    line-height: 2;

    i {
      margin-right: 5px;
    }

    .fa-mobile {
      font-size: 14px;
    }

    &:hover {
      color: #d33a31;
    }
  }

  .failqr,
  .text {
    text-align: center;
    line-height: 2;
  }

}